[submodule "containers-service"]
	path = containers-service
	url = git@github.com:dogkerr/containers-service.git
[submodule "configs"]
	path = configs
	url = git@github.com:dogkerr/configs
[submodule "authentications-service"]
	path = authentications-service
	url = git@github.com:dogkerr/authentications-service.git
[submodule "monitor-service"]
	path = monitor-service
	url = git@github.com:dogkerr/monitor-service
[submodule "/containers-service"]
	branch = main
[submodule "/configs"]
	branch = main
[submodule "/authentications-service"]
	branch = main
[submodule "/monitor-service"]
	branch = main
