[submodule "monitors-service"]
	path = monitors-service
	url = git@github.com:dogkerr/monitors-service.git
[submodule "containers-service"]
	path = containers-service
	url = git@github.com:dogkerr/containers-service.git
[submodule "configs"]
	path = configs
	url = https://github.com/dogkerr/configs
[submodule "authentications-service"]
	path = authentications-service
	url = git@github.com:dogkerr/authentications-service.git
